* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
    background: rgb(247, 245, 245);
}

.area-login {
    width: 1200px;
    height: 700px;
    background: #fff;
    margin-left: 170px;
    margin-top: 20px;
    border: 2px solid rgb(214, 209, 209);
    border-radius: 10px;
}

.area-register {
    width: 1200px;
    height: 700px;
    background: #fff;
    margin-left: 170px;
    margin-top: 20px;
    border: 2px solid rgb(214, 209, 209);
    border-radius: 10px;
}

.titulo {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 25px;
}

.titulo2 {
    padding-bottom: 30px;
    padding-left: 120px;
    padding-top: 80px;
    font-size: 30px;
}

.titulo3 {
    padding-bottom: 30px;
    padding-left: 100px;
    padding-top: 80px;
    font-size: 25px;
}

span {
    color: #0049ff;
}

.span2 {
    color: #00d7ff;
}

.menu {
    padding-left: 30px;
}

form {
    width: 500px;
    padding-left: 190px;
    margin-top: 50px;
}

h4 {
    font-size: 16px;
}

.inputs {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    border: 2px #6f7e8a solid;
    margin-top: 8px;
    margin-left: 10px;
}

.login1 {
    margin-left: -50px;
}

.register1 {
    margin-left: -50px;
}

.change1 {
    margin-left: -50px;
}

.registrar {
    padding: 10px;
    margin-top: 40px;
    margin-bottom: -80px;
}

.mudar-senha {
    padding: 10px;
    margin-top: 5px;
    padding-left: 12px;
}

.logar {
    width: 125px;
    height: 27px;
    padding: 2.5px;
    border-radius: 20px;
    border: 2px #6f7e8a solid;
    margin-top: 15px;
    margin-left: 110px;
    cursor: pointer;
    font-size: 15px;
    background: #0049ff;
    color: white;
}

.logar:hover {
    background: #00d7ff;
}

.change {
    width: 125px;
    height: 27px;
    padding: 2.5px;
    padding-bottom: 3px;
    border-radius: 20px;
    border: 2px #6f7e8a solid;
    margin-top: 15px;
    margin-left: 110px;
    cursor: pointer;
    font-size: 15px;
    background: #0049ff;
    color: white;
}

.change:hover {
    background: #00d7ff;
}

p {
    font-size: 16px;
    color: black;
}

a {
    color: #0049ff;
    font-size: 16px;
}

a:hover {
    color: #00d7ff;
}

.forget {
    color: #0049ff;
    font-size: 16px;
    margin-left: 180px;
    padding-bottom: -15px;
}

.forget:hover {
    color: #00d7ff;
}

.fundo-azul {
    width: 592px;
    height: 701px;
    background: linear-gradient(180deg, #00d7ff, #0049ff);
    float: right;
    margin-top: -467px;
    border-radius: 0px 10px 10px 0px;
}

.fundo-azul-register {
    width: 592px;
    height: 700px;
    background: linear-gradient(180deg, #00d7ff, #0049ff);
    float: right;
    margin-top: -586px;
    border-radius: 0px 10px 10px 0px;
}

.fundo-azul-change {
    width: 592px;
    height: 700px;
    background: linear-gradient(180deg, #00d7ff, #0049ff);
    float: right;
    margin-top: -494px;
    border-radius: 0px 10px 10px 0px;
}

.logo-tech {
    margin-top: 200px;
    margin-left: 90px;
}

.logo-tech-register {
    margin-top: 200px;
    margin-left: 90px;
}