<!DOCTYPE html>
<html>
    <head>
        <title>ControllWallet - {% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <div class="area-login container-fluid">
            <div class="titulo">
                <h2>
                    Bem-vindo ao <span>Controll</span
                    ><span class="span2">Wallet</span>
                </h2>
            </div>

            <div class="login1">
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
                <form method="POST" action="{{ url_for('login') }}">
                    <label for="username"><h4>Nome:</h4></label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        class="inputs"
                    />
                    <br /><br />
                    <label for="password"><h4>Senha:</h4></label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="inputs"
                    />
                    <br /><br />
                    <a class="forget" href="{{ url_for('forgot_password') }}"
                        >Esqueci minha senha</a
                    >
                    <br /><br />
                    <input type="submit" value="Login" class="logar" />
                    <div class="menu">
                        <div class="registrar">
                            <p>
                                Ainda não tem uma conta?
                                <a href="{{ url_for('register') }}"
                                    >Clique aqui!</a
                                >
                            </p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="fundo-azul">
                <img
                    class="logo-tech"
                    src="{{ url_for('static',
                filename='logo_controlwallet_branca-430x290.png') }}"
                />
            </div>
        </div>
    </body>
</html>
