<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>ControllWallet - Clientes e Fornecedores</title>
    </head>
    <body>
        {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %} {% if success %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
        {% endif %}
        <h1>Clientes e Fornecedores</h1>
        <table>
            <thead>
                <tr>
                    <th class="border">CNPJ</th>
                    <th class="border">Razão Social</th>
                    <th class="border">Nome Fantasia</th>
                    <th class="border">Tipo</th>
                    <th class="border">CEP</th>
                    <th class="border">Rua</th>
                    <th class="border">Número</th>
                    <th class="border">Cidade</th>
                    <th class="border">Estado</th>
                    <th class="border">Telefone</th>
                    <th class="border">Celular</th>
                    <th class="border">E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for cadastro in cadastros %}
                <tr>
                    <td class="border">{{ cadastro.cnpj }}</td>
                    <td class="border">{{ cadastro.razao_social }}</td>
                    <td class="border">{{ cadastro.nome_fantasia }}</td>
                    <td class="border">{{ cadastro.tipo }}</td>
                    <td class="border">{{ cadastro.cep }}</td>
                    <td class="border">{{ cadastro.endereco_rua }}</td>
                    <td class="border">{{ cadastro.endereco_numero }}</td>
                    <td class="border">{{ cadastro.cidade }}</td>
                    <td class="border">{{ cadastro.estado }}</td>
                    <td class="border">{{ cadastro.telefone }}</td>
                    <td class="border">{{ cadastro.celular }}</td>
                    <td class="border">{{ cadastro.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
