<!DOCTYPE html>
<html>
    <head>
        <title>ControllWallet - TechTeam</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Welcome, {{ username }}!</h1>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>


        <div class="mudar-senha">
                    
            <p>Deseja mudar sua senha? <a href="{{ url_for('change_password') }}">Mude aqui!</a></p>
            </div>
    </body>
</html>
