<!DOCTYPE html>
<html>
    <head>
        <title>Flask Login Example - Register</title>
    </head>
    <body>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('register') }}">
            <label for="full_name">Nome completo:</label>
            <input
                type="text"
                name="full_name"
                id="full_name"
                required="true"
            />
            <br /><br />
            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username" required="true" />
            <br /><br />
            <label for="password">Senha:</label>
            <input
                type="password"
                name="password"
                id="password"
                required="true"
            />
            <br /><br />
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required="true" />
            <br /><br />
            <input type="submit" value="Register" />
        </form>
    </body>
</html>
