<!DOCTYPE html>
<html>
    <head>
        <title>ControllWallet - Cadastre-se</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

        <div class="area-register">
            <div class="titulo2">
                <h2>Cadastre-se</h2>
            </div>


            <div class="register1">
                <form method="POST" action="{{ url_for('register') }}">
                    <label for="username"><h4>Nome:</h4></label>
                    <input type="text" name="username" id="username" class="inputs" />
                    <br /><br />
                    <label for="usuario"><h4>Usuário:</h4></label>
                    <input type="text" name="usuario" id="usuario" class="inputs" />
                    <br /><br />
                    <label for="email"><h4>E-mail</h4></label>
                    <input type="email" name="email" id="email" class="inputs" placeholder="Ex: exemplo@gmail.com" />
                    <br /><br />
                    <label for="password"><h4>Senha:</h4></label>
                    <input type="password" name="password" id="password" class="inputs" />
                    <br /><br />
                    <input type="submit" value="Cadastrar" class="logar" />
                </form>
            </div>

            <div class="fundo-azul-register">
                <img src={{url_for('static',filename='logo_controlwallet_branca-430x290.png')}} class="logo-tech-register">
            </div>
        </div>
    </body>
</html>
